.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
	color: #fff;
	background-color: $brand-primary;
}

.nav-pills>li>a {
	color: $gray;
	border-radius: 0px;
	.glyphicon {
		float: right;
	}
}

.nav-stacked>li+li {
	margin-top: 0px;
	margin-left: 0;
	border-bottom:1px solid darken($gray-lighter, 10%);
}

.active2 {
    border-right:4px solid #428bca;
}
